@charset "UTF-8";

@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');



body {
    color: #000;
    letter-spacing: 0;
    font-size: 16px;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: keep-all;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: #fff;
}


/*font-size*/
.fs_11 {
    font-size: 11px;
}

.fs_12 {
    font-size: 12px;
}

.fs_13 {
    font-size: 13px;
}

.fs_14 {
    font-size: 14px;
}
.fs_15{
	font-size: 15px;
	
}.fs_16 {
    font-size: 16px;
}

.fs_17 {
    font-size: 17px;
}

.fs_18 {
    font-size: 18px;
}

.fs_19 {
    font-size: 19px;
}
.fs_20{
	font-size: 20px;
}
.fs_21 {
    font-size: 21px;
}

.fs_22 {
    font-size: 22px;
}

.fs_24 {
    font-size: 24px;
}

.fs_25 {
    font-size: 25px;
}

.fs_26 {
    font-size: 26px;
}

.fs_28 {
    font-size: 28px;
}
.fs_30{
	font-size: 30px;
}
.fs_32 {
    font-size: 32px;
}

.fs_34 {
    font-size: 34px;
}

.fs_36 {
    font-size: 36px;
}

.fs_40 {
    font-size: 40px;
}

.fs_45 {
    font-size: 45px;
}

.fs_50 {
    font-size: 50px;
}

.fs_55 {
    font-size: 55px;
}

.fs_56 {
    font-size: 56px;
}

.fs_60 {
    font-size: 60px;
}

.fs_64 {
    font-size: 64px;
}

.fs_68 {
    font-size: 68px;
}



.fs_72 {
    font-size: 72px;
}

.fs_75 {
    font-size: 75px;
}

.fs_80 {
    font-size: 80px;
}

.fs_100 {
    font-size: 100px;
}


/*font-weight*/
.fw_100 {
    font-weight: 100;
}

.fw_200 {
    font-weight: 200;
}

.fw_300 {
    font-weight: 300;
}
.fw_400{
	font-weight: 400;
}
.fw_500{
	font-weight: 500;
}
.fw_600{
	font-weight: 600;
}
.fw_700{
	font-weight: 700;
}
.fw_800{
	font-weight: 800;
}
.fw_900{
	font-weight: 900;
}


.mw_1000 {
	max-width:1000px;
	margin:0 auto; 
}



