@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.nanumpenscript * {
 font-family: 'Nanum Pen Script', cursive;
}

:root {
    <!-- https://materialui.co/colors/grey/500 -->
    --gray500 : #9E9E9E;
    --white: #FFFFFF;
    --black: #000000;

}

body *{
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h1 {
    /* font-family: "핑프 째즈체"; */
    text-align: center;
}

.btn-bar {
    display: flex;
    justify-content: center;
}

.btn-bar button {
    margin: 0 10px;
}
