@charset "utf-8";


/* marketboardlist */
.mlist_head{
	background-color: #74B243;
	color: white;
	padding: 10px;
}

.mlist_head>.btn{
	background-color: white;
	color: #74B243;
	margin-left: 10px;
	font-weight: 700;
}

.cGreen{
	color: #74B243;
}

.borderGreen{
	border: 2px solid #74B243 !important;
}

.backGreen{
	background-color: #74B243;
	color: white;
	text-align: center;
}

.borderGreen.col{
	padding: 0;
}



#product-preview {
    max-width: 100%;
    margin-top: 10px;
}

#product-preview>img{
	width: 200px; 
}

.headmenu_btn{
	background-color: transparent;
	color: white;
	border: 0;
	font-size: 18px;
	font-weight: 600;
}
