@charset "utf-8";


/* marketboardlist */
.mlist_head{
	color: #11B560;
	padding: 10px;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
}

.mlist_head>.btn{
	background-color: #11B560;
	color: #fff;
	margin-left: 10px;
	font-weight: 700;
	font-size: 20px;
	border: 3px solid #fff;
	border-radius: 10px;
}

.mlist_head>.btn:hover{
	background-color: #EBEE48;
	color:#33672B;
	border: 3px solid #11B560;
}

.cGreen{
	color: #11B560;
}

.borderGreen{
	border: 2px solid #11B560 !important;
}

.backGreen{
	background-color:#11B560;
	color: white;
	text-align: center;
}

.borderGreen.col{
	padding: 0;
}



#product-preview {
    max-width: 100%;
    margin-top: 10px;
}

#product-preview>img{
	width: 200px; 
}

.headmenu_btn{
	background-color: transparent;
	color: white;
	border: 0;
	font-size: 18px;
	font-weight: 600;
}


.member_btns{
	position: absolute;
	top:10px;
	right: 10px;
}

.member_logo_btn{
	width: 40px;
}

.btn_headersearch {
	background-color: white; 
	color: #11B560;
}

.btn_headersearch:hover {
	background-color: #EBEE48;
	color:#33672B;
}