@charset "utf-8";

/* marketboardlist */
.mlist_head{
	color: #11B560;
	padding: 10px;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
}

.mlist_head>.btn{
	background-color: #11B560;
	color: #fff;
	margin-left: 10px;
	font-weight: 700;
	font-size: 18px;
	border: 3px solid #11B560;
	border-radius: 10px;
}

.mlist_head>.btn:hover{
	background-color: #EBEE48;
	color:#33672B;
	border: 3px solid #11B560;
}

.cGreen{
	color: #11B560;
}

.borderGreen{
	border: 2px solid #11B560 !important;
}

.bg_green{
	background-color:#11B560;
	color: white;
}

.backGreen{
	background-color:#11B560;
	color: white;
	text-align: center;
}

.borderGreen.col{
	padding: 0;
}



#product-preview,
#product-preview2,
#product-preview3 {
    max-width: 100%;
    margin-top: 10px;
    text-align: center;
}

/* #product-preview>img{
	width: 200px; 
} */

.btn_product_input {
	background-color: #11B560;
	color: white;
	border:2px solid #11B560;
	font-weight: 600;
}

.btn_product_input:hover {
	background-color: #EBEE48;
	color: #11B560;
	border:2px solid #11B560;
	font-weight: 600;
}

.headmenu_btn{
	background-color: transparent;
	color: white;
	border: 0;
	font-size: 18px;
	font-weight: 600;
}

.headmenu_btn:hover{
	color: #EBEE48;
}

.member_btns{
	position: absolute;
	top:10px;
	right: 10px;
}

.member_logo_btn{
	width: 40px;
}

.btn_green {
	background-color: white; 
	color: #11B560;
}

.btn_green2 {
	background-color: #11B560; 
	color: #fff;
	border: 2px solid #0e942c;
}

.btn_green:hover {
	background-color: #EBEE48;
	color:#33672B;
}

.btn_green2:hover {
	background-color: #EBEE48;
	color:#33672B;
	border: 2px solid #e1a900;
}

.login_rborder{
	position: relative;
    margin-left: 5px;
    padding-left: 10px;
}

.login_rborder::after{
	position:absolute;
	top: calc(50% - 7px);
	right: -10px;
	content:"";
	display:block;
	width:1px;
	height:12px;
	background-color:black;
}
/*register.jsp  */
#root {
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
}

.contents {
  display: flex;
  flex-direction: row;
}
.contents .upload-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents .upload-box .drag-file {
      position: relative;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-style: dashed;
    border-color: rgb(17, 181, 96);
    border-image: initial;
    background-color: #fff;
}
.contents .upload-box .drag-file.highlight {
  border: 3px dashed red;
}
.contents .upload-box .drag-file .image {
  width: 40px;
}
.contents .upload-box .drag-file .message {
  margin-bottom: 0;
}
.contents .upload-box .drag-file .preview {
  display: none;
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
}
.contents .upload-box .file-label {
  margin-top: 10px;
  background-color: #11B560;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  width: 35%;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid #0e942c;
}

.contents .upload-box .file-label:hover {
  background-color: #EBEE48;
	color:#33672B;
	border: 2px solid #e1a900;
}
.contents .upload-box .file {
  display: none;
}

@media (max-width: 700px) {
  .contents {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .contents .upload-box {
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
  }
  .contents .upload-box .drag-file {
    height: 150px;
  }
  .contents .files {
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
    overflow: initial;
  }
}     
       
/*login.jsp  */


/*boardlist.jsp  */
.blist>.table {
   --bs-table-bg: var(--bs-body-bg);
}

.blist>.table>thead>tr{
    --bs-table-color: #11B560;
}

.blist>table {
 /*  border: 2px solid #11B560; */
  box-sizing: border-box; /* box-sizing 속성 설정 */
}

.blist>.table thead th {
    border-bottom: 1px solid #11b560;
}

/*recipeBoard.jsp  */
