<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
      PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="semi.dto.RecipeDto" alias="RecipeDto"/>
		<typeAlias type="semi.dto.RecipeOrderDto" alias="RecipeOrderDto"/>
		<typeAlias type="semi.dto.MarketBoardDto" alias="MarketBoardDto"/>
		<typeAlias type="semi.dto.MarketProductDto" alias="MarketProductDto"/>
		<typeAlias type="semi.dto.MarketBoardCommentDto" alias="MarketBoardCommentDto"/>
		<typeAlias type="semi.dto.BoardDto" alias="BoardDto"/>
		<typeAlias type="semi.dto.AnswerDto" alias="AnswerDto"/>
		
		<typeAlias type="semi.dto.MemberDto" alias="MemberDto"/>
	</typeAliases>
</configuration>