<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.data.AnswerDao">
	<insert id="insertAnswer" parameterType="AnswerDto">
		insert into tComBoardComment values (null,#{nComBoardCommentSeq},#{sComBoardCommentName},#{sComBoardCommentMsg},now())
	</insert>
	<select id="selectAnswerByNum" parameterType="int" resultType="AnswerDto">
		select * from tComBoardComment where nComBoardCommentSeq=#{nComBoardCommentSeq} order by nComBoardCommentIdx desc
	</select>
	<delete id="deleteAnwer" parameterType="int">
	delete from nComBoardCommentIdx where nComBoardCommentIdx=#{nComBoardCommentIdx}
	</delete>
</mapper>