<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "hthtp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.dao.BoardDao">
	<resultMap id="BoardDtoRm" type="BoardDto">
		<result property="comBoardSeq" column="nComBoardSeq" />
		<result property="comBoardUserSeq" column="nComBoardUserSeq" />
		<result property="userName" column="userName" />
		<result property="comBoardSubject" column="sComBoardSubject" />
		<result property="comBoardContent" column="sComBoardContent" />
		<result property="comBoardviewCount" column="nComBoardviewCount" />
		<result property="comBoardRegroup" column="nComBoardRegroup" />
		<result property="comBoardRestep" column="nComBoardRestep" />
		<result property="comBoardRelevel" column="nComBoardRelevel" />
		<result property="writeDay" column="dtWriteDay" />
		<result property="updateDay" column="dtUpdateDay" />
		<result property="comBoardPhoto" column="sComBoardPhoto" />

	</resultMap>

	<select id="totalCountOfBoard" resultType="int" parameterType="String">
		select count(*) from tComBoard
		<if test="searchWord != null">
			where sComBoardSubject like concat('%',#{searchWord},'%')
		</if>
	</select>
	<select id="selectDataByNum" parameterType="int" resultType="BoardDto" resultMap="BoardDtoRm">
	select * from tComBoard where nComBoardSeq=#{comBoardSeq}
	</select>
	<insert id="insertBoard" parameterType="BoardDto">
		INSERT INTO tComBoard
		values (null,#{comBoardUserSeq},#{comBoardSubject},#{comBoardContent}, 0, #{comBoardRegroup},0, 0,now(), now(), #{comBoardPhoto})
	</insert>
	<select id="selectAllBoard" resultType="BoardDto">
		select * from tComBoard order by nComBoardSeq desc
	</select>
	<select id="selectBoardWithPage" parameterType="Map" resultType="BoardDto" resultMap="BoardDtoRm">
		select tComBoard.*, tUser.userName from tComBoard
		LEFT JOIN tUser ON tComBoard.nComBoardUserSeq = tUser.userSeq
		<if test="searchWord != null">
			where sComBoardSubject like concat('%',#{searchWord},'%')
		</if>
		order by nComBoardSeq desc
		limit #{startIdx}, #{perPage}
	</select>
	<update id="updateReadCount" parameterType="int">
		update tComBoard set nComBoardviewCount=nComBoardviewCount+1 where nComBoardSeq=#{nComBoardSeq}
	</update>
	<select id="selectOneData" parameterType="int" resultType="BoardDto">
		select * from tComBoard where nComBoardSeq=#{nComBoardSeq}
	</select>
	<delete id="deleteBoard" parameterType="int">
		delete from tComBoard where nComBoardSeq=#{nComBoardSeq}
	</delete>
	<update id="updateBoard" parameterType="BoardDto">
		update tComBoard set sUserName=#{sUserName},sComBoardSubject=#{sComBoardSubject},sComBoardContent=#{sComBoardContent}
		<if test="nComBoardRegroup!=null">
			,nComBoardRegroup=#{nComBoardRegroup}
		</if>
		where nComBoardSeq=#{nComBoardSeq}
	</update>
</mapper>