<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.dao.MarketProductDao">
	<resultMap id="MarketProductDtoRm" type="MarketProductDto">
		<result property="productSeq" column="nProductSeq" />
		<result property="boardSeq" column="nBoardSeq" />
		<result property="productPrice" column="nProductPrice" />
		<result property="productPlace" column="sProductPlace" />
		<result property="productImage1" column="sProductImage1" />
		<result property="productImage2" column="sProductImage2" />
		<result property="productContent" column="sProductContent" />
	</resultMap>
    <insert id="insertMarketProduct" parameterType="MarketProductDto">
        insert into tMarketProduct (nBoardSeq, nProductPrice, sProductPlace, sProductImage1, sProductImage2, sProductContent)
        values(#{boardSeq}, #{productPrice}, #{productPlace}, #{productImage1}, #{productImage2}, #{productContent})
    </insert>
    
    <select id="selectDataByProductBoardSeq" parameterType="int" resultType="MarketProductDto" resultMap="MarketProductDtoRm">
		select *
		from tMarketProduct
		where nBoardSeq=#{boardSeq}
	</select>
	
	<update id="updateMarketProduct" parameterType="MarketProductDto">
		update tMarketProduct
		set nProductPrice=#{productPrice},
			sProductPlace=#{productPlace},
			sProductImage1=#{productImage1},
			sProductImage2=#{productImage2},
			sProductContent=#{productContent}
		where nBoardSeq=#{boardSeq}
	</update>
</mapper>

