<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.dao.MarketProductDao">
	<insert id="insertMarketProduct" parameterType="MarketProductDto">
		insert into tMarketProduct (nProductPrice, sProductPlace, sProductImage1, sProductImage2, sProductContent)
		values(#{nProductPrice}, #{sProductPlace}, #{sProductImage1}, #{sProductImage2}, #{sProductContent})
	</insert>
</mapper>