<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.dao.MarketBoardDao">
	<resultMap id="MarketBoardDtoRm" type="MarketBoardDto">
		<result property="boardSeq" column="nBoardSeq" />
		<result property="userSeq" column="nUserSeq" />
		<result property="boardTitle" column="sBoardTitle" />
		<result property="boardImage" column="sBoardImage" />
		<result property="boardReplyCount" column="nBoardReplyCount" />
		<result property="boardViewCount" column="nBoardViewCount" />
		<result property="createDate" column="dtCreateDate" />
		<result property="updateDate" column="dtUpdateDate" />
		<result property="userName" column="userName" />

	</resultMap>

	<insert id="insertMarketBoard" parameterType="MarketBoardDto">
		insert into tMarketBoard (nUserSeq,sBoardTitle, sBoardImage, dtCreateDate, dtUpdateDate)
		values (#{userSeq}, #{boardTitle}, #{boardImage}, now(), now())
		<selectKey keyProperty="boardSeq" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<select id="selectMarketBoardWithPage" parameterType="Map" resultType="MarketBoardDto" resultMap="MarketBoardDtoRm">
		select tMarketBoard.*, tUser.userName 
		from tMarketBoard
		left join tUser
		on tMarketBoard.nUserSeq=tUser.userSeq
		<if test="searchWord != null">
			where tMarketBoard.sBoardTitle like concat('%',#{searchWord},'%')
		</if>
		order by nBoardSeq desc
		limit #{startNum}, #{perPage}


	</select>
	
	<select id="totalCountOfMarketBoard" resultType="int" parameterType="String">
		select count(*)
		from tMarketBoard
		<if test="searchWord != null">
			where tMarketBoard.sBoardTitle like concat('%',#{searchWord},'%')
		</if>

	</select>
	
	<update id="updateReadCountOfMarketBoard" parameterType="int">
		update tMarketBoard
		set nBoardViewCount=nBoardViewCount+1
		where nBoardSeq=#{boardSeq}
	</update>
	
	<select id="selectDataByMarketBoardSeq" parameterType="int" resultType="MarketBoardDto" resultMap="MarketBoardDtoRm">
		select tMarketBoard.*, tUser.userName
		from tMarketBoard
		left join tUser
		on tMarketBoard.nUserSeq=tUser.userSeq
		where nBoardSeq=#{boardSeq}
	</select>
	
	<delete id="deleteMarketBoardContent" parameterType="int">
		delete from tMarketBoard where nBoardSeq=#{boardSeq}
	</delete>
</mapper>

