<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.dao.MarketBoardCommentDao">
 	<resultMap id="MarketBoardCommentDtoRm" type="MarketBoardCommentDto">
		<result property="commentSeq" column="nCommentSeq" />
		<result property="boardSeq" column="nBoardSeq" />
		<result property="userSeq" column="nUserSeq" />
		<result property="commentUserName" column="userName" />
		<result property="commentUserEmail" column="userEmail" />
		<result property="commentContent" column="sCommentContent" />
		<result property="createDate" column="dtCreateDate" />
		<result property="updateDate" column="dtUpdateDate" />
		<result property="commentParentSeq" column="nCommentParentSeq" />
		<result property="commentDepth" column="nCommentDepth" />
	</resultMap> 
	
 	
	<insert id="insertMarketBoardComment" parameterType="MarketBoardCommentDto">
		insert into tMarketBoardComment (nUserSeq,nBoardSeq,sCommentContent,dtCreateDate,dtUpdateDate)
		values (#{userSeq},#{boardSeq},#{commentContent},now(),now())
	</insert>
	
	<select id="selectAnswerOfboardSeq" parameterType="int" resultType="MarketBoardCommentDto" resultMap="MarketBoardCommentDtoRm">
		select tMarketBoardComment.*, tUser.userName, tUser.userEmail
		from tMarketBoardComment
		left join tUser
		on tMarketBoardComment.nUserSeq = tUser.userSeq
		where nBoardSeq=#{boardSeq} 
		
	</select>
	
	<select id="totalCountOfComment" parameterType="int" resultType="int">
		select count(*)
		from tMarketBoardComment
		where nBoardSeq=#{boardSeq}
	</select>
	
	<delete id="deleteComment" parameterType="int">
		delete
		from tMarketBoardComment
		where nCommentSeq=#{commentSeq}
	</delete>
  
</mapper>

