<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.dao.MemberDao">
    <resultMap id="MemberDaoRm" type="semi.dto.MemberDto" >
        <result property="userName" column="sUserName" />
        <result property="userEmail" column="sUserEmail" />
        <result property="userPassword" column="sUserPassword" />
        <result property="userImage" column="sUserImage" />
        <result property="userPhoneNumber" column="sUserPhoneNumber" />
    </resultMap>

    <insert id="insertMember" parameterType="semi.dto.MemberDto">
        INSERT INTO tUser (userName,userEmail,userPassword,userImage,userPhoneNumber)
        VALUES (#{userName},#{userEmail},#{userPassword},#{userImage},#{userPhoneNumber});
    </insert>
    <select id="checkDuplicatedEmail" parameterType="semi.dto.MemberDto" resultType="int">
        SELECT COUNT(*) FROM tUser WHERE userEmail = #{userEmail}
    </select>
    <select id="selectAllMembers" resultType="semi.dto.MemberDto" parameterType="Map">
		select * from tUser
		<if test="searchoword!=null">
            where ${searchfield}
		    like concat('%',#{searchword},'%')
        </if>
		order by num desc
	</select>
    <select id="loginCheck" parameterType="semi.dto.MemberDto" resultType="semi.dto.MemberDto" resultMap="MemberDaoRm">
        select * from tUser where userEmail=#{userEmail} and userPassword=#{userPassword};
    </select>
    <select id="selectDataById" parameterType="String" resultType="semi.dto.MemberDto">
        select * from tUser where userEmail=#{userEmail}
    </select>
    <select id="selectDataByNum" parameterType="int" resultType="semi.dto.MemberDto">
        select * from tUser where userSeq=#{userSeq}
    </select>
</mapper>