<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.dao.MemberDao">
    <insert id="insertMember" parameterType="semi.dto.MemberDto">
        INSERT INTO tUser (sUserName,sUserEmail,sUserPassword,sUserImage,sUserPhoneNumber)
        VALUES (#{sUserName},#{sUserEmail},#{sUserPassword},#{sUserImage},#{sUserPhoneNumber});
    </insert>
    <select id="checkDuplicatedEmail" parameterType="semi.dto.MemberDto" resultType="int">
        SELECT COUNT(*) FROM tUser WHERE sUserEmail = #{sUserEmail}
    </select>
</mapper>