<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.dao.RecipeOrderDao">
	<select id="selectRecipeOrderAll" parameterType="int" resultType="RecipeOrderDto">
		select * from tRecipeOrder where nRecipeIdx = #{recipeIdx} order by nRecipeNumber
	</select>
</mapper>