<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.dao.RecipeOrderDao">
	<resultMap id="RecipeOrderDtoRm" type="RecipeOrderDto">
		<result property="recipeOrderSeq" column="nRecipeOrderSeq" />
		<result property="recipeIdx" column="nRecipeIdx" />
		<result property="recipeNumber" column="nRecipeNumber" />
		<result property="recipeOrderContent" column="sRecipeOrderContent" />
		<result property="recipeOrderPhoto" column="sRecipeOrderPhoto" />
	</resultMap>

	<select id="getRecipeOrdersById" parameterType="int" resultType="RecipeOrderDto" resultMap="RecipeOrderDtoRm">
		select * from tRecipeOrder where nRecipeIdx = #{recipeIdx} order by nRecipeNumber
	</select>
	
	<insert id="insertOrderRecipe" parameterType="RecipeOrderDto">
    	insert into tRecipeOrder (nRecipeIdx, nRecipeNumber, sRecipeOrderContent, sRecipeOrderPhoto) values (#{recipeIdx}, #{recipeNumber}, #{recipeOrderContent}, #{recipeOrderPhoto})
	</insert>
	
	<delete id="deleteOrderRecipe" parameterType="RecipeOrderDto">
		delete from tRecipeOrder where nRecipeIdx = #{recipeIdx}
	</delete>

	<insert id="upsertRecipeOrder" parameterType="RecipeOrderDto">
	<![CDATA[
		INSERT INTO tRecipeOrder (nRecipeOrderSeq,  nRecipeIdx, nRecipeNumber, sRecipeOrderContent, sRecipeOrderPhoto)
		VALUES (
			#{recipeOrderSeq},
			#{recipeIdx},
			#{recipeNumber},
			#{recipeOrderContent},
			COALESCE(#{recipeOrderPhoto}, sRecipeOrderPhoto)
	   )
		ON DUPLICATE KEY UPDATE
		 nRecipeIdx =  #{recipeIdx},
		 nRecipeNumber = #{recipeNumber},
		 sRecipeOrderContent = #{recipeOrderContent},
		 sRecipeOrderPhoto = COALESCE(#{recipeOrderPhoto}, sRecipeOrderPhoto);
    ]]>
	</insert>


</mapper>