<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="semi.dao.RecipeDao">
	<resultMap id="RecipeDtoRm" type="RecipeDto">
		<result property="recipeIdx" column="nRecipeIdx" />
		<result property="recipeUserSeq" column="nRecipeUserSeq" />
		<result property="recipeUserName" column="userName" />
		<result property="recipeTitle" column="sRecipeTitle" />
		<result property="recipeViewCount" column="nRecipeViewCount" />
		<result property="recipePhoto" column="sRecipePhoto" />
		<result property="recipeContent" column="sRecipeContent" />
		<result property="recipeTime" column="sRecipeTime" />
		<result property="recipeDifficulty" column="sRecipeDifficulty" />
		<result property="recipeServing" column="sRecipeServing" />
		<result property="recipeIngredient" column="sRecipeIngredient" />
		<result property="recipeCreatedAt" column="dtRecipeCreatedAt" />
		<result property="recipeUpdatedAt" column="dtRecipeUpdatedAt" />
	</resultMap>

	<insert id="insertRecipe" parameterType="RecipeDto">
    	insert into tRecipeBoard (nRecipeUserSeq, sRecipeTitle, sRecipePhoto, sRecipeContent, sRecipeTime, sRecipeDifficulty, sRecipeServing, sRecipeIngredient, dtRecipeCreatedAt, dtRecipeUpdatedAt) values (#{recipeUserSeq}, #{recipeTitle}, #{recipePhoto}, #{recipeContent}, #{recipeTime}, #{recipeDifficulty}, #{recipeServing}, #{recipeIngredient}, now(), now())
	</insert>
	
	<select id="selectAlltRecipe" parameterType="String" resultType="RecipeDto" resultMap="RecipeDtoRm">
    	select tRecipeBoard.*, tUser.userName from tRecipeBoard
    	LEFT JOIN tUser ON tRecipeBoard.nRecipeUserSeq = tUser.userSeq
    	<if test="searchword!=null">
      	where sRecipeTitle like concat('%',#{word},'%')
      	</if>
    	order by nRecipeIdx desc
	</select>
	
	<select id="totalCountOfRecipe" parameterType="String" resultType="int">
        select count(*) from tRecipeBoard
        <if test="searchword!=null">
      	where sRecipeTitle like concat('%',#{word},'%')
      	</if>
    </select>
    
	<update id="updateViewCount" parameterType="int">
		update tRecipeBoard set nRecipeViewCount = nRecipeViewCount + 1 where nRecipeIdx = #{recipeIdx}
	</update>
	
	<select id="selectDataBynRecipeIdx" parameterType="int" resultType="RecipeDto" resultMap="RecipeDtoRm">
		select * from tRecipeBoard
		LEFT JOIN tUser ON tRecipeBoard.nRecipeUserSeq = tUser.userSeq
		where nRecipeIdx = #{recipeIdx}
	</select>

</mapper>